@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    /* === cores principais === */

    --branco: #EAE8FF;
    --preto: #181818;
    --azul: #00B7FF;
}

/* ===== HEADER ===== */

header {
    display: flex;
    width: 1510px;
    height: 100px;
    top: 30px;
    left: calc(50% - 1510px/2);

    display: inline-flex;
    align-items: center;
    gap: 449px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 50px;
    background: rgba(198, 192, 229, 45%);
    backdrop-filter: blur(3px);

    position: fixed;
    z-index: 999;
}

.LogoContainer img {
    position: absolute;
    width: 86px;
    height: 50px;
    left: 100px;
    top: calc(50% - 50px/2);
}

.ButtonContato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 7.6px;

    position: absolute;
    width: 102px;
    height: 40px;
    right: 100px;
    top: calc(50% - 40px/2);

    background: var(--azul);
    border-radius: 20px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19.756px;
    line-height: 30px;
    text-align: center;

    color: var(--preto);

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* ===== RESPONSIVIDADE ===== */

/* ===== CELULAR ===== */

@media only screen and (width >=320px) and (width <=430px) {
    header {
        width: 316px;
        height: 60px;
        top: 20px;
        left: calc(50% - 316px/2);
    }

    .LogoContainer img {
        width: auto;
        height: 30px;
        left: 20px;
        top: calc(50% - 30px/2);
    }

    .ButtonContato {
        width: 82px;
        height: 30px;
        right: 20px;
        top: calc(50% - 30px/2);

        font-size: 16px;
    }
}

/* ===== TABLET ===== */

@media only screen and (width >=768px) and (width <=834px) {
        header {
            width: 800px;
            height: 80px;
            top: 30px;
            left: calc(50% - 800px/2);
        }

        .LogoContainer img {
            width: auto;
            height: 50px;
            left: 80px;
            top: calc(50% - 50px/2);
        }

        .ButtonContato {
            height: 40px;
            right: 80px;
            top: calc(50% - 40px/2);
        }
    }

/* ===== NOTEBOOK ===== */

@media only screen and (width >=1024px) and (width <=1440px) {
    header {
        width: 1200px;
        height: 80px;
        top: 30px;
        left: calc(50% - 1200px/2);
    }

    .LogoContainer img {
        width: auto;
        height: 50px;
        left: 80px;
        top: calc(50% - 50px/2);
    }

    .ButtonContato {
        height: 40px;
        right: 80px;
        top: calc(50% - 40px/2);
    }
}